<!DOCTYPE html>
<html lang="en">
  <head>
            <%- include ../partials/head %>
  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
            <%- include ../partials/nav %>
      </nav>
    </header>
    <div class="container">







      <div class="starter-template">
        <% for(var i in data){ %> 

          <div>
            <p>Name: <%= data[i].name %></p>
            <p>Meat: <%= data[i].meat %></p>
            <p>Doneness: <%= data[i].temperature %></p>
            <p>Cheese: <%= data[i].cheese %></p>
            <p>Extras: 
            <% var extras = data[i].extras; %>
            <% for(var x=0; x<extras.length; x++){ %>
              <%= extras[x] %>
            <% } %>
            </p>
          </div>

        <% } %> 
      </div>










    </div><!-- /.container -->

            <%- include ../partials/footer %>
  
</body></html>