<!DOCTYPE html>
<html lang="en">
  <head>
            <%- include ../partials/head %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <%- include ../partials/nav %>
      </nav>
    </header>
    <main>
      
    
    <div class="container">

      <div class="starter-template">
        <h1> <%= data.title %> </h1>
        <p class="lead">Use this form to build a burger.</p>
        <form class="form-horizontal" action="<%= data.burgerURL %>" method= "<%= data.submitMethod %>">
        <fieldset>


        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Burger Name</label>  
          <div class="col-md-6">
          <input id="name" name="name" type="text" placeholder="placeholder" class="form-control input-md" required="">
          <span class="help-block">Please name your burger</span>  
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="meat">Meat</label>
          <div class="col-md-6">
            <select id="meat" name="meat" class="form-control">
              <option value="Bœuf">Bœuf</option>
              <option value="Chicken">Chicken</option>
              <option value="Ostrich">Ostrich</option>
              <option value="Bison">Bison</option>
              <option value="Pork">Pork</option>
              <option value="Vegan">Vegan</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="temperature">Meat Temperature</label>
          <div class="col-md-6">
            <select id="temperature" name="temperature" class="form-control">
              <option value="Rare">Rare</option>
              <option value="Medium_Rare">Medium_Rare</option>
              <option value="Medium">Medium</option>
              <option value="Medium_Well">Medium_Well</option>
              <option value="Well_Done">Well_Done</option>
            </select>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="cheese">Cheese</label>
          <div class="col-md-6">
            <select id="cheese" name="cheese" class="form-control">
              <option value="">None</option>
              <option value="American">American</option>
              <option value="Swiss">Swiss</option>
              <option value="Gruyere">Gruyere</option>
              <option value="Humboldt">Humboldt</option>
              <option value="Mozzarella">Mozzarella</option>
            </select>
          </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="extras">Extras</label>
          <div class="col-md-4">
          <div class="checkbox">
            <label for="extras-0">
              <input type="checkbox" name="extras" id="extras-0" value="Bacon">
              Bacon
            </label>
            <label for="extras-1">
              <input type="checkbox" name="extras" id="extras-1" value="Tomato">
              Tomato
            </label>
            <label for="extras-2">
              <input type="checkbox" name="extras" id="extras-2" value="Pickles">
              Pickles
            </label>
            <label for="extras-3">
              <input type="checkbox" name="extras" id="extras-3" value="Onions">
              Onions
            </label>
          </div>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit">Submit</label>
          <div class="col-md-4">
            <button id="submit" type="submit" class="btn btn-lg btn-success">Burger Me!</button>
          </div>
        </div>

        </fieldset>
        </form>

      </div>

    </div><!-- /.container -->



    </main>



            <%- include ../partials/footer %>
  

</body></html>