<!DOCTYPE html>
<html lang="en">
  <head>
            <%- include ../partials/head %>
  </head>
  <body>
    
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
            <%- include ../partials/nav %>
      </nav>
    </header>
    <div class="container">







      <div class="starter-template">
        <% for(var i in data){ %> 

          <div>
            <p>Name: <%= data[i].name %></p>
            <p>Meat: <%= data[i].meat_id %></p>
            <p>Doneness: <%= data[i].bun_id %></p>
            <p>Cheese: <%= data[i].doneness %></p><br>

          </div>

        <% } %> 
      </div>










    </div><!-- /.container -->

            <%- include ../partials/footer %>
  
</body></html>